<!-- Sidebar -->
<ul class='navbar-nav bg-gradient-primary sidebar sidebar-dark accordion' id='accordionSidebar'>

	<!-- Sidebar - Brand -->
	<a class='sidebar-brand d-flex align-items-center justify-content-center' href='/admin'>
		<div class='sidebar-brand-text mx-3'>NodeJS Project Admin page</div>
	</a>

	<!-- Divider -->
	<hr class='sidebar-divider my-0' />

	<!-- Nav Item - Dashboard -->
	<li class='nav-item active'>
		<a class='nav-link' href='/admin'>
			<i class='fas fa-fw fa-tachometer-alt'></i>
			<span>Dashboard</span></a>
	</li>

	<!-- Divider -->
	<hr class='sidebar-divider' />

	<!-- Nav Item - Products -->
	<li class='nav-item active'>
		<a class='nav-link' href='/admin/products'>
			<i class='fa fa-fw fa-gift'></i>
			<span>Products</span></a>
	</li>
	<!-- Divider -->
	<hr class='sidebar-divider' />

	<!-- Nav Item - Categories -->
	<li class='nav-item active'>
		<a class='nav-link' href='/admin/categories'>
			<i class='fa fa-fw fa-tags'></i>
			<span>Categories</span></a>
	</li>
	<!-- Divider -->
	<hr class='sidebar-divider' />

	<!-- Nav Item - Users -->
	<li class='nav-item active'>
		<a class='nav-link' href='/admin/users'>
			<i class='fa fa-fw fa-users'></i>
			<span>Users</span></a>
	</li>
	<!-- Divider -->
	<hr class='sidebar-divider' />

	<!-- Nav Item - Oders -->
	<li class='nav-item active'>
		<a class='nav-link' href='/admin/orders'>
			<i class='fa fa-fw fa-shopping-basket'></i>
			<span>Orders</span></a>
	</li>

	<!-- Sidebar Toggler (Sidebar) -->
	<div class='text-center d-none d-md-inline'>
		<button class='rounded-circle border-0' id='sidebarToggle'></button>
	</div>

</ul>
<!-- End of Sidebar -->
